<h1>Report</h1>

<% if @premium_subscription.any? %>

<%= link_to 'Download all to .xlsx', report_index_path(format: :xlsx), class: 'btn btn-default' %>
<br>
<br>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>T-Shirt size</th>
      <th>Status</th>
      <th>Subscription Length</th>
      <th>Date Subscribed</th>
    </tr>
  <% @premium_subscription.each do |subscription| %>
    <tr>
      <td><%= subscription.user.first_name %> <%= subscription.user.last_name %></td>
      <td><%= subscription.shirt_size %></td>
      <td><a href="javascript:updateSubscription(<%= subscription.id %>)" id="subs_<%= subscription.id %>"><%= subscription.status %></a></td>
      <td><%= subscription.subscription_length %></td>
      <td><%= subscription.created_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<script type="text/javascript">
function updateSubscription(id){
  $.ajax({
    type: "PATCH",
    dataType: "json",
    url: '/report/'+id,
    success : function(json) {
      $("#subs_"+id).text(json.subscription_status)
      
    },
    error : function(xhr, status) {
        console.log(xhr)
    }
  })
}
</script>