<!DOCTYPE html>
<html>
<head>
  <title>TshirtShipped</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fishing Company</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Report", report_index_path  %></li>
      </ul>
      <%= form_tag(report_index_path(format: :xlsx), method: "get", class: 'navbar-form navbar-left') do %>
        <div class="form-group">
          <input name="from_date" type="text" class="form-control" placeholder="From date (yyyy-mm-dd)">
          <input name="to_date" type="text" class="form-control" placeholder="To date (yyyy-mm-dd)">
        </div>
        <button type="submit" class="btn btn-default">Download</button>
      <% end %>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= yield %>  
</div>


</body>
</html>
